# Compilación y ejecutables temporales
build/
dist/
dist_installer/
*.spec

# Entornos virtuales y dependencias
venv/
env/
__pycache__/
*.pyc

# Archivos de cuarentena y reportes locales
cuarentena/
reportes/

# Claves locales, entorno y configuraciones personales
.env
.env.local
data/config.json